@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
:root {
	font-family: 'Poppins' !important;
	margin: 0;
	padding: 0;
}

.container {
	padding: 0;
}

.title {
	width: 100%;
	text-align: center;
	margin: 2rem auto;
	font-size: 4rem;
}
/* ipad */
@media screen and (min-width: 500px) {
	.full .full {
		grid-column: 1/3;
		grid-row: 2/3;
	}
}
/* desktop */
@media screen and (min-width: 1024px) {
	.full .full {
		grid-column: 1/1;
		grid-row: 1/1;
	}
}
