@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
:root {
	font-family: 'Poppins' !important;
	margin: 0;
	padding: 0;
}

.container {
	padding: 0;
}
